body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-pic {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom: 6px solid #d8cefe;
}

.profile-pic {
    border-bottom: 4px solid #d8cefe;
}